.fren-zone-container {
    padding: 2em 1.5em 2.5em 1.5em;
    width: 100%;
}

.fren-title {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1em;
}
.fren-bonues-title {
    font-size: 15px;
    font-weight: bold;
    margin: 1em 0;
    color: #FFD041;
}
.fren-bonues {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    background: #45444966;
    width: 100%;
    padding: 1.2em 1em;
    border-radius: 15px;
}
.fren-box {
    display: flex;
    align-items: center;
    gap: 20px;
}
.fren-box > img {
    width: 40px;
}
.fren-box > div {
    display: flex;
    flex-direction: column;
}
.fren-bonus-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}
.fren-bonus-title > span {
    color: #0485d1;
    font-weight: 600;
}
.fren-bonus-amount {
    display: flex;
    font-size: 13px;
}
.fren-bonus-amount > img {
    width: 13px;
    margin-right: 5px;
}
.fren-bonus-amount > span:first-of-type {
    color: #FFD041;
    margin-right: 5px;
}

.fren-info, .fren-earned, .fren-earn-info {
    display: flex;
    align-items: center;
}

.fren-earn-info > img {
    margin-left: 8px;
    width: 15px;
}

.fren-earned > img {
    margin-left: 8px;
    width: 14px;
}

.fren-earned {
    justify-content: center;
    width: auto;
    padding-right: .5em;
    padding-left: 1.5em;
    color: #FFD041;
    font-size: 14px;
    font-weight: 600;
}

.fren-earned > span {
    height: 18px;
}

.fren-info {
    justify-content: space-between;
    background: #45444966;
    width: 100%;
    padding: 1em 0em;
    border-radius: 15px;
}

.fren-opener-arrow {
    width: 22.5px;
    padding-right: .9rem;
}

.fren-earn-info {
    padding-left: 10px;
    font-size: 16px;
}

.fren-earn-info > img {
    margin-right: 8px;
    width: 15px;
}
.fren-earn-info > .fren-emoji {
    font-size: 19px;
    margin-right: 3px;
}
.fren-earn-info > .text-glass {
    margin-left: 5px;
    font-size: 13px;
}
.fren-top-30 {
    font-size: 14px;
    margin-left: 5px;
}
.fren-divider {
    width: 25px;
    height: 2px;
    opacity: 0.2;
    rotate: 90deg;
    border-top: 1px solid #FFFFFF;
}

.fren-list-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.fren-list {
    background: #45444966;
    padding: .5em 0em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    max-height: 51vh;
    overflow-y: auto;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}
.no-fren-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em 2em;
}
.no-fren-con > img {
    width: 200px;
    margin-bottom: 1em;
}
.no-fren-con > p {
    color: #FFFFFF;
    opacity: .3;
    font-size: 15px;
}

.invite-fren-btn-con {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}

.invite-fren-btn {
    background: linear-gradient(88.09deg, #E3452D 0%, #FAAF5E 96.78%);
    border-radius: 32px;
    padding: 0.7em 0em;
    cursor: pointer;
    overflow: hidden;
    width: 88%;
    display: block;
    position: fixed;
    bottom: 30px;
}

.invite-fren-btn-skeleton {
    border-radius: 32px;
    padding: 0.7em 0em;
    cursor: pointer;
    overflow: hidden;
    width: 88% !important;
    display: block;
    position: fixed;
    bottom: 30px;
}
.friend-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 0 1em;
    width: 100%;
}
.friend-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px !important;
    height: 50px !important;
    font-size: 18px;
    border-radius: 50%;
    /*background-color: #4fffcb;*/
}
.friend-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    gap: 1px;
}
.friend-name {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.01em;
    text-align: left;
    width: 150px;
    height: 25px;
    overflow: hidden;
}
.friend-name > span {
    height: 25px;
}
.friend-name > img {
    margin-left: 5px;
    width: 15px;
}
.friend-subtitle {
    display: flex;
    align-items: center;
}
.friend-subtitle > span {
    opacity: .5;
    font-size: 10px;
    padding: 0 .7em;
}
.friend-league {
    display: flex;
}
.friend-league > img {
    width: 15px;
}
.friend-league > span {
    font-size: 13px;
    margin-left: 5px;
    opacity: .5;
}
.friend-coin {
    display: flex;
    font-weight: 600;
    color: #FFFFFF;
}
.friend-coin > span {
    font-size: 13px;
    margin-left: 5px;
    opacity: .5;
}
.friend-coin > img {
    width: 12px;
}
.friend-trailer-img {
    width: 7px;
    opacity: .3;
    text-align: center;
}
.friend-trailer-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: center;
}
.friend-earned {
    font-size: 13px;
    color: #FFD041;
    margin-right: 10px;
}